@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
.attribution { 
    vertical-align: b;
    font-size: 11px; text-align: center; }
.attribution a { color: #3e52a3; }
/*-----------------------------------------------*/
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    background-color: #d5e1ef;
}
p, h1, h2 {
    font-family: Outfit, Arial, sans-serif;
    margin:0;
}

.card {
    margin: auto;
    
    max-width: 32rem;
    background-color: white;
    padding:1.5rem;
    border-radius: 15px;
    box-shadow: 0px 0 20px #d6e2f0;
}

.qr-img {
    display: block;
    max-width: 100%;
    margin-bottom: 2rem;
    border-radius: 10px;
}
.data {
    padding:0 3rem 3rem 1.5rem;
    
}
.title, .info{
    text-align: center;
}
.title {
    color: #1f3251;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}
.info {
    color: #7b879d;
    font-size: 1.5rem;
    
}
